:root {
  --fs-ipad-mini-xl: clamp(1.5rem, 4.5vw + 1.15rem,8rem);

  --fs-small-desktop-xl: clamp(1.5rem, 1.8vw + 1.15rem,8rem);
  --fs-small-desktop-s: clamp(0.80rem, 1.0vw + 0.6rem, 2.5rem);
  --fs-small-desktop-xs: clamp(0.75rem, 0.9vw + 0.65rem, 1.5rem);

  --fs-large-desktop-xl: clamp(2rem, 2.2vw + 1.5rem, 10rem);
  --fs-large-desktop-s: clamp(1rem, 1.0vw + 0.7rem, 3rem);
  --fs-large-desktop-xs: clamp(0.85rem, 1vw + 0.75rem, 2rem);

  --fs-xlarge-desktop-xl: clamp(2.5rem, 2.6vw + 1.8rem, 12rem);
  --fs-xlarge-desktop-s: clamp(1.2rem, 1.2vw + 0.8rem, 3.5rem);
  --fs-xlarge-desktop-xs: clamp(1rem, 1.1vw + 0.85rem, 2.5rem);

  --fs-xl: clamp(1.5rem, 3.8vw + 1.05rem, 8rem);
  --fs-m: clamp(1rem, 2.5vw + 0.75rem, 5rem);
  --fs-s: clamp(0.80rem, 1.8vw + 0.7rem, 2.5rem);
  --fs-xs: clamp(0.75rem, 1.2vw + 0.65rem, 1.5rem);

  --x-anim: clamp()
}

body {
  background-image: url("assets/pink-red-grid.png");
  background-repeat: repeat;
  background-size: 300px 300px;
}

.full-page {
  display: flex;
  flex-direction: column;
}

.upper-page-container {
  position: relative;
  width: 100%;
}

.title-container {
  position: relative;
  top: 16px;
  right: 9px;
  z-index: 2;
}

.title {
  color: darkmagenta;
  text-align: center;
  font-size: var(--fs-xl);
}

.banner-container{
  position: absolute;
  top: -9px;
  left: -20px;
  width: 107%;
  z-index: 1;
}

.banner-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.credits-container {
  position: relative;
  padding-top: 5px;
  top: 3vh;
  left: 109px;
}

.credits {
  font-family: "Comic Neue", cursive;
  font-size: var(--fs-xs);
  font-weight: 400;
  font-style: normal;
}

.description-container {
  position: absolute;
  width: 89%;
  bottom: 185px;
  left: 17px;
  border-color: green;
  white-space: nowrap;
}

.description {
  font-family: "Comic Neue", cursive;
  font-size: 14px;
  font-weight: bold;
}

.timer-container {
  border: dotted tomato 7px;
  border-radius: 5px;
  margin-top: 11vh;
  background-color: white;
}

.time {
  padding-top: 5px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: mediumpurple;
  font-size: 100px;
}

.timer-buttons {
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.timer-buttons button {
  background-color: pink;
  font-weight: bold;
}

.duck-text-container {
  position: relative;
}

.instructions-container {
  position: absolute;
  width: 89%;
  margin: auto;
  left: 4px;
  border-color: green;
  white-space: nowrap;
  animation: slideTextOnXAxis 1.5s infinite;
}

.instructions {
  position: relative;
  font-family: "Comic Neue", cursive;
  font-size: var(--fs-xs);
  font-weight: bold;
}

@keyframes slideTextOnXAxis {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100% - 93%));
  }
  100% {
    transform: translateX(0);
  }
}

.duck-container {
  position: absolute;
  width: 50vw; /* 50% of the viewport width */
  left: 150px;
  top: 130px;
}

.real-duck {
  max-width: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.text-bubble-content-container {
  position: relative; /*parent position is relative and child is absolute, will squish itself in there*/
  width: 230px;
  height: 50px;
  top: 73px;
  left: 12px;
  z-index: 2;
  animation: animate .9s infinite;
}

.text-bubble-content {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
}

.text-bubble-container {
  position: absolute;
  left: 10px;
  top: 0px;
  animation: animate .9s infinite;
}

.text-bubble {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0);
  }
}

.laptop-container {
  position: absolute;
  top: 170px;
  right: -20px;
  transform: scaleX(-1);
  z-index: 1;
}

.laptop {
  width: 115px;
  height: 115px;
  object-fit: cover;
}

.toast-container {
  position: absolute;
  top: 205px;
  right: 15px;
  z-index: 2;
}

.toast {
  width: 19px;
  height: 19px;
  object-fit: cover;
  opacity: 0.75;
  cursor: pointer;
}

.laptop-credit-container {
  position: absolute;
  top: 250px;
  width: 90px;
  height: 19px;
  z-index: 3;
}

.laptop-credit-link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 4;
  font-size: 7px;
  color: lightcoral;
}

.notes-container {
  position: relative;
  top: -80px;
}

.duck-story-container {
  position: absolute;
  z-index: 3;
  width: 98%;
  height: 70px;
  top: 330px;
  border: solid black 3px;
  background-color: seagreen;
  cursor: pointer;
  padding: 11px;
}

.duck-story {
  position: relative;
  top: -7px;
  font-size: var(--fs-m);
  background-color: palegreen;
}

.look-away-timer-story-container {
  position: absolute;
  z-index: 3;
  width: 98%;
  top: 410px;
  border: dotted black 3px;
  background-color: powderblue;
  padding: 10px;
}

.look-away-timer-story {
  font-size: var(--fs-s);
}

/* Medium devices (tablets) vertical */
@media (min-width: 768px) {
  .full-page {
    margin: 40px;
  }

  /*--------UPPER PAGE CONTAINER--------*/

  .title {
    font-size: var(--fs-ipad-mini-xl);
  }

  .banner-container{
    width: 104%;
    left: -15px;
    top: -30px;
  }

  .credits-container {
    top: 5vh;
    left: 240px;
  }

  .timer-container {
    padding: 2.7vh;
  }

  .time {
    font-size: 150px;
  }

  .timer-buttons button {
    font-size: 24px;
  }

  .text-bubble-content-container {
    width: 270px;
    height: 50px;
    top: 95px;
    left: 80px;
  }
  
  .text-bubble-content {
    font-size: 15.5px;
  }
  
  .text-bubble-container {
    left: 70px;
    top: 0px;
  }
  
  .text-bubble {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .duck-container {
    width: 37vw;
    left: 300px;
    top: 170px;
  }

  .laptop-container {
    top: 230px;
    width: 200px;
    height: 200px;
  }

  .laptop {
    width: 180px;
    height: 180px;
  }

  .toast-container {
    top: 285px;
    right: 43px;
  }
  
  .toast {
    width: 33px;
    height: 33px;
    opacity: 0.75;
  }

  .duck-story-container {
    top: 450px;
  }

  .look-away-timer-story-container {
    top: 530px;
  }
}

/* Large devices (laptops) ipad mini horizontal 1024x768*/
@media (min-width: 1024px) {
  .full-page {
    display: grid;
    gap: -2.0rem;
    grid-template-columns: 70% 30%;
  }

  .upper-page-container {
    width: 90%;
  }

  /*--------------upper-page--------------*/
  .title-container {
    top: -10px;
    right: 01px;
  }

  .title {
    font-size: var(--fs-small-desktop-xl);
  }

  .banner-container{
    left: -20px;
    top: -40px;
    width: 450px;
  }

  .credits-container {
    top: -20px;
    left: 130px;
  }
  
  .credits {
    font-family: "Comic Neue", cursive;
    font-size: var(--fs-small-desktop-xs);
    font-weight: 400;
    font-style: normal;
  }

  .timer-container {
    margin-top: 7%;
    padding-bottom: 7%;
    width: 80%;
    height: 30%;
  }

  .time {
    font-size: 85px;
  }

  .timer-buttons button {
    font-size: 15px;
  }

  .instructions-container {
    left: -14px;
  }

  .instructions {
    font-size: var(--fs-small-desktop-s);
  }

  /*--------------duck-text--------------*/
  .notes-container {
    position: static;
  }

  .duck-text-container{
    grid-column: 1;
  }  
  
  .text-bubble-container {
    left: 0px;
    top: -42px;
  }
  
  .text-bubble {
    width: 260px;
    height: 260px;
  }

  .text-bubble-content-container {
    width: 250px;
    height: 50px;
    top: 40px;
    left: 8px;
  }
  
  .text-bubble-content {
    font-size: 13.2px;
  }

  .duck-container {
    width: 20vw;
    left: 160px;
    top: 100px;
  }

  .laptop-container {
    top: 160px;
    right: 10px;
    width: 200px;
    height: 200px;
  }

  .laptop {
    width: 130px;
    height: 130px;
  }

  .toast-container {
    top: 200px;
    right: 80px;
  }
  
  .toast {
    width: 26px;
    height: 26px;
    opacity: 0.75;
  }

  /*--------------duck-story--------------*/
  .duck-story-container {
    top: 30px;
    width: 25%;  
    height: 10%;
  }

  .duck-story {
    font-size: var(--fs-small-desktop-s);
  }
  
  .look-away-timer-story-container {
    width: 25%;  
    top: 130px;
    border: dotted black 5px;
  }
  
  .look-away-timer-story {
    font-size: var(--fs-small-desktop-s);
  }
}

/* laptop devices 1280 x 800 */
@media (min-width: 1280px) {
  .banner-container{
    left: 30px;
    top: -40px;
    width: 600px;
  }

  .credits-container {
    top: 20px;
  }

  .timer-container {
    margin-top: 7%;
    padding-bottom: 6%;
    width: 75%;
    height: 30%;
  }

  .time {
    font-size: 100px;
  }

  .timer-buttons button {
    font-size: 19px;
  }

  .instructions-container {
    left: -30px;
  }

  .text-bubble-container {
    left: 34px;
    top: -30px;
  }

  .text-bubble-content-container {
    width: 250px;
    height: 50px;
    top: 52px;
    left: 40px;
  }

  .duck-container {
    left: 220px;
    top: 100px;
  }

  .laptop-container {
    top: 160px;
    right: 250px;
    width: 200px;
    height: 200px;
  }

  .toast-container {
    top: 200px;
    right: 320px;
  }
}

/* screen size 1440 x 900 */
@media (min-width: 1440px) {
  .banner-container{
    left: 70px;
    top: -40px;
    width: 630px;
  }

  .timer-container {
    margin-top: 5%;
    margin-left: 7%;
    width: 69%;
    height: 30%;
  }

  .time {
    font-size: 100px;
    padding-top: 0px;
  }

  /*--------------duck-laptop--------------*/
  .text-bubble-container {
    left: 80px;
    top: -38px;
  }
  
  .text-bubble {
    width: 290px;
    height: 290px;
  }

  .text-bubble-content-container {
    width: 290px;
    height: 200px;
    top: 53px;
    left: 80px;
  }
  
  .text-bubble-content {
    font-size: 15.5px;
  }

  .duck-container {
    width: 19vw;
    left: 220px;
    top: 110px;
  }

  .laptop-container {
    top: 160px;
    right: 310px;
    width: 200px;
    height: 200px;
  }

  .laptop {
    width: 175px;
    height: 175px;
  }

  .toast-container {
    top: 213px;
    right: 370px;
  }
  
  .toast {
    width: 33px;
    height: 33px;
  }

  .look-away-timer-story-container {
    top: 155px;
  }
}

/* big desktop 1920 x 1080 */
@media (min-width: 1920px) {
  .banner-container{
    left: 100px;
    top: -40px;
    width: 850px;
  }

  .credits-container {
    top: 50px;
    left: 130px;
  }
  
  .credits {
    font-size: var(--fs-xlarge-desktop-xs);
  }

  .timer-container {
    margin-top: 8%;
    width: 74%;
    height: 32%;
  }

  .time {
    font-size: 160px;
  }

  .timer-buttons button {
    font-size: 25px;
  }

  .instructions {
    font-size: var(--fs-xlarge-desktop-s);
  }

  /*--------------duck-laptop--------------*/
  .text-bubble-container {
    left: 100px;
    top: -30px;
  }
  
  .text-bubble {
    width: 400px;
    height: 400px;
  }

  .text-bubble-content-container {
    width: 390px;
    height: 200px;
    top: 93px;
    left: 105px;
  }
  
  .text-bubble-content {
    font-size: 21.5px;
  }

  .duck-container {
    left: 320px;
    top: 190px;
    width: 20vw;
  }

  .laptop-container {
    top: 240px;
    right: 400px;
  }

  .laptop {
    width: 255px;
    height: 264px;
  }

  .toast-container {
    top: 318px;
    right: 470px;
  }
  
  .toast {
    width: 50px;
    height: 50px;
  }

  /*--------------duck-story--------------*/
  .duck-story-container {
    top: 30px;
    width: 25%;  
    height: 10%;
  }

  .duck-story {
    font-size: var(--fs-large-desktop-s);
  }
  
  .look-away-timer-story-container {
    width: 25%;  
    top: 170px;
  }
  
  .look-away-timer-story {
    font-size: var(--fs-large-desktop-s);
  }
}

/* screen size 2560 x 1440 */
@media (min-width: 2560px) {
  .banner-container{
    left: 50px;
    top: -40px;
    width: 900px;
  }

  .credits-container {
    top: 40px;
    left: 130px;
  }
  
  .credits {
    font-size: var(--fs-xlarge-desktop-xs);
  }

  .time {
    font-size: 150px;
  }

  .timer-buttons button {
    font-size: 27px;
  }

  /*--------------duck-laptop--------------*/
  .text-bubble-container {
    left: 100px;
    top: -42px;
  }
  
  .text-bubble {
    width: 360px;
    height: 360px;
  }

  .text-bubble-content-container {
    width: 320px;
    height: 400px;
    top: 73px;
    left: 115px;
  }
  
  .text-bubble-content {
    font-size: 18px;
  }

  .duck-container {
    top: 150px;
    left: 350px; 
    width: 15vw;
  }

  .laptop-container {
    top: 220px;
    right: 370px;
  }

  .laptop {
    width: 240px;
    height: 240px;
  }

  .toast-container {
    top: 290px;
    right: 430px;
  }
  
  .toast {
    width: 50px;
    height: 50px;
  }

  /*--------------duck-story--------------*/
  .duck-story-container {
    height: 7%;
  }
}